@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
*{
	padding: 0;
	margin: 0;
}
#index
{
    height: 1000px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    background-color:rgb(224, 241, 247);
}
.wrapper{
	height: 100vh;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: black;
	font-size: 70px;
	width: 900px;
	font-weight: bold;
	text-align: center;
}